/resources/public/js/compiled/**
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
.*.swp
/checkouts/
/resources/public/music/*.wav
/resources/public/music/*.mp3
/resources/public/sfx/*.ogg
/resources/public/sfx/*.mp3
/build
